# 03-ospf: r2 — WAN 2 本を OSPF エリア 0 に参加させる
set interfaces ethernet eth1 address '10.0.12.2/30'
set interfaces ethernet eth1 description 'WAN to r1'
set interfaces ethernet eth2 address '10.0.23.1/30'
set interfaces ethernet eth2 description 'WAN to r3'
set interfaces loopback lo address '10.255.0.2/32'
set protocols ospf parameters router-id '10.255.0.2'
set protocols ospf area 0 network '10.0.12.0/30'
set protocols ospf area 0 network '10.0.23.0/30'
set protocols ospf area 0 network '10.255.0.2/32'
