# 01-lan: r3 — LAN/WAN アドレスと静的経路
set interfaces ethernet eth1 address '192.168.20.1/24'
set interfaces ethernet eth1 description 'LAN-B'
set interfaces ethernet eth2 address '10.0.23.2/30'
set interfaces ethernet eth2 description 'WAN to r2'
set protocols static route 192.168.10.0/24 next-hop '10.0.23.1'
set protocols static route 10.0.12.0/30 next-hop '10.0.23.1'
